/*для позиционирования элементов блока Help использована сеточная верстка (flexbox или grid) +2*/
/*при уменьшении масштаба страницы браузера или увеличении ширины страницы (>1280px) вёрстка размещается по центру, а не сдвигается в сторону и не растягивается по всей ширине +2*/
/*фоновый цвет тянется на всю ширину страницы +2*/

* {
    padding: 0;
    margin: 0;
    list-style: none;
    outline: none;
    font-family: Georgia, Roboto, system-ui, Tahoma, sans-serif;
    box-sizing: border-box;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -moz-user-select: none; /* Firefox */
    background-color: #FFFFFF;

}

p {
    font-family: arial, serif;
    font-weight: 400;
}


span,
b,
h1,
h2,
h3,
h4,
h5 {
    font-family: Georgia, serif;
    font-weight: 400;
}


h3 {
    font-size: 35px;
}

h1 {
    font-size: 32px;
    color: #F1CDB3;
    font-family: Georgia, serif;
    letter-spacing: 0.06em;
    line-height: 110%
}

h2 {
    font-weight: 600;
    font-size: 44px;
    line-height: 30px;
    font-family: Georgia, serif;
}


a {
    text-decoration: none;
    font-family: Georgia, serif;
}


header {
    width: 100%;
    display: flex;
    height: 908px;
    background-image: url("../assets/images/start-screen-gradient-background.png");
    background-size: cover;
    background-color: #352a23;

    flex-direction: column;
}


.header-topbar {
    margin: 30px 40px 0;
    display: flex;
    align-items: center;
    flex-direction:row;
    justify-content: space-between;
}

.header-topbar-title {
    width: 195px;
    height: 60px;
}

.header-topbar-title p {
    padding-top: 6px;
    padding-left: 2px;
    color: #FFFFFF;
    font-family: arial, serif;
    font-weight: 400;
    letter-spacing: 0.1em;
    font-size: 13px;
}

.header-topbar-nav {
    width: 443px;
    height: 27px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
}

.header-topbar-nav a {
    font-size: 15px;
    color: #CDCDCD;

}

.header-topbar-nav a:active {
    text-underline-offset: 8px;
    text-decoration: underline;
    text-underline-color: #F1CDB3;
    text-decoration-thickness:3px;;
}
.header-topbar-nav-active {
    text-underline-offset: 8px;
    text-decoration: underline;
    text-decoration-color: #F1CDB3;
    text-decoration-thickness:3px;;

}

.header-content-box{
    padding: 0 40px;
    display: flex;
    width: 95vw;
    height: inherit;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-content {
    display: flex;
    flex-direction: column;
    width: 460px;
    height: 322px;
}

.header-content h2 {
    margin-bottom: 42px;
    font-family: Georgia,  serif;
    font-weight: 400;
    /*line-height: 130%;*/
    line-height: 57px;
    color: #FFFFFF;

}

.header-content p {
    margin-bottom: 42px;
    color: #CDCDCD;
    font-size: 15px;
    line-height: 24px;
    font-family:arial, serif ;
}

.header-content button {
    display: flex;
    align-items: center;
    padding: 15px 45px;
    gap: 10px;
    background-color: #F1CDB3;
    border-radius: 100px;
    font-family: Georgia, serif;
    border: #F1CDB3;
    font-size: 17px;
    font-weight: 400;
    width: 207px;

}

.header-content button:hover {
   cursor: pointer;
}

/*.header-content button p {*/
/*    */
/*}*/

.header-content-image {
    display: flex;
    /*flex-grow: 1;*/
    height: 728px;
    z-index: 2;
    margin-bottom:-90px ;

}

.header-content-image img {
    /*position: absolute;*/
    /*bottom: -15%;*/
    /*right: 10%;*/
    max-width: unset;
    background-size: cover;
}


.about {
    width: 100%;
    height: 588px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;

}

.about-wrapper {
    /*margin: 80px 215px 100px;*/
    height: 408px;
    width: 430px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content:space-between;
    margin: 0 20px;

}

.about h3 {
    font-size: 35px;
    font-weight: 400;
    font-family: Georgia, serif;
    color: #545454;
    letter-spacing: 0.06em;
}

.about p {
    font-family: arial, serif;
    color: #4C4C4C;
    font-size: 15px;
    font-weight: 400;
    margin-top: 25px;
    line-height:24px;

}


.our-friends {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F6F6F6;
    height: 877px;
    width: 100%;
}


.our-friends h3 {
    text-align: center;
    margin-top: 80px;
    letter-spacing: 0.06em;
    font-family: Georgia, serif;
    color: #545454;
}

.our-friends-wrapper {
    display: flex;
    flex-direction: row;
    height: 435px;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

.our-friends-box-content-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px #F1CDB3;
margin: 0 12px;
    background-color: #F6F6F6;
    width: 52px;
    height: 52px;
    border-radius: 100px;
    font-size: 20px;
    font-family: Georgia, serif;
}

.our-friends-box-content-button:hover {
    background-color:#F1CDB3;
    transition: 0.5s;
    cursor: pointer;

}


.our-friends-box-content {
    display: flex;
    width: 270px;
    height: 435px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #FAFAFA;

}

.our-friends-box-content p {
    display: flex;
    text-align: center;
    margin: 15px auto;
    font-family: 'Georgia', serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    /* identical to box height */
    align-items: center;
    letter-spacing: 0.06em;

    color: #545454;
}

.our-friends-box-content-link {
    display: flex;
    width: 187px;
    height: 52px;
    justify-content: center;
    align-items: center;
    /*text-align: center;*/
    margin-bottom: 25px;
    border-radius: 100px;
    border: 2px solid #F1CDB3;
}

.our-friends-box-content-link:hover {
    background-color: #F1CDB3;
    transition: 0.5s;
}


.our-friends-box-content-link a {
    /*display: flex;*/
    /*text-align: center;*/
    /*margin: 30px auto;*/
    font-family: Georgia, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    /* identical to box height, or 22px */

    letter-spacing: 0.06em;

    /* color-dark-3xl */

    color: #292929;
}


.our-friends-link {
    margin: 85px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F1CDB3;
    border-radius: 100px;
    border: 2px solid #F1CDB3;
    /* color-primary */

    width: 261px;
    height: 52px;

}

.our-friends-link a {
    font-size: 17px;
    color: #292929;
    font-family: 'Georgia', serif;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.06em;
}


.help {
    display: flex;
    height: 611px;;
    flex-direction: column;
    justify-content: space-between;
    color: #FFFFFF;
    padding: 72px 140px;
    /*align-items: center;*/
}


.help h3 {
    color: #545454;
    font-size: 35px;
    text-align: center;

}

/*.help-wrapper{*/
/*display: flex;*/
/*    height: 281px;*/
/*    margin: 0 127px 100px;*/

/*    flex-direction: row;*/
/*    justify-content: space-between;*/
/*}*/

.help-wrapper-top {
    display: flex;
    height: 113px;
    margin: 0 64px;
    flex-direction: row;
    justify-content: space-between;
}

.help-wrapper-bottom {
    display: flex;
    height: 113px;
    margin: 0 105px;
    flex-direction: row;
    justify-content: space-between;
}

.help-wrapper-box img{
    height: 60px;
    width: 60px;
}

.help-wrapper-box {
    display: flex;
    height: 113px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.help-wrapper-box h4 {
    font-size: 20px;
    color: #545454;
}



.in-addition {
    width: 100%;
    height: 462px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #F6F6F6;
}

.in-addition-image {
    margin: 0 15px;
}

.in-addition-content {
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: start;
    width: 380px;
}

.in-addition-content h5 {
    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    /* or 45px */

    display: flex;
    align-items: center;
    letter-spacing: 0.06em;

    /* color-dark-l */

    color: #545454
}
.in-addition-content h3 {
    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    /* or 45px */

    display: flex;
    align-items: center;
    letter-spacing: 0.06em;

    /* color-dark-l */

    color: #545454
}

.in-addition-content h5 {
    margin: 10px 0;
    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    /* identical to box height, or 17px */

    display: flex;
    align-items: center;
    letter-spacing: 0.06em;

    /* color-dark-l */

    color: #545454
}


.in-addition-content p {
    font-family: 'Arial', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 12px ;
    line-height: 18px;
    /* or 150% */
    display: flex;
    align-items: center;
    /* color-dark-m */
    color: #B2B2B2;
}


.in-addition-content-card {
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    background-color:  #F1CDB3;;
    width: 349px;
    height: 43px;
    border-radius: 9px
}

.in-addition-content-card h4 {
    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
   display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
}



footer {
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-image: url("../assets/images/footer-gradient-background.png");
    background-size: cover;
    background-color: #352a23;
    padding: 0 25px;

}

.footer-box-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 234px;
    row-gap: 20px;
}

.footer-box-content h3 {
    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    /* or 45px */

    letter-spacing: 0.06em;

    /* color-light-xl */

    color: #FFFFFF;

}

.footer-box-content-info {
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
}

.footer-box-content-info img {
    margin-right: 15px;
    height: 32px;
}

.footer-box-content-info h4 {
    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    /* or 23px */
    letter-spacing: 0.06em;

    color: #F1CDB3;
}

.footer-img-box{
    display: flex;
    box-sizing: border-box;
    align-items: end;
    height: 350px;
    margin: 0 20px;
}



























